<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <header th:replace="/fragments/header.html :: header"></header>
    <h1>Sign up</h1>
    <form action="/signup" method="POST">
        <label>Username <input name="username"/></label>
        <label>Password <input type="password" name="password"/></label>
        <label>First name <input name="firstName"/></label>
        <label>Last name <input name="lastName"/></label>
        <label>Date of birth <input name="dob" type="date"/></label>
        <label>Bio <input name="bio" type="text"/></label>
        <input type="submit"/>
    </form>
</body>
</html>